* {
    text-decoration: none;
    list-style: none;
    color: #000;
    margin: 0px;
    padding: 0px;
    font-family: "Delius", cursive;

}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;

}


.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

@keyframes entr {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .1;
    }

    50% {
        opacity: .4;
    }

    75% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

body {
    background-color: #00b4d8;
}

/* ========================NAV PRINCIPAL============================= */

header {
    display: flex;
}

#nav {
    display: flex;
}

#nav_ul {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 50px;
    background-color: #a8dadc;
    transition: 1s;
    border-radius: 2vh;
    position: fixed;
    z-index: 9999;
    margin: 10px;
    border: solid 2px #000;
    box-shadow: 0px 8px 20px#000;
    align-items: center;
    font-weight: 900;
    padding-left: 10px;
}


#nav_ul:hover {
    padding: 20px;
    display: flex;
    width: 630px;
    gap: 40px;
    border-radius: 0px 20px 20px 0px;
}

#nav_img {
    width: 40px;
}

.nav_li {
    background-color: #fff;
    display: flex;
    border-radius: 2vh;
    padding: 6px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #000;
    font-size: 24px;
    color: #000;
}



#li_1 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#li_2 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#li_3 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}



#titulo {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-bottom: 80px;
}

h1 {
    font-family: "Courgette";
    font-size: 80px;
    letter-spacing: 6px;
    text-align: center;
    padding: 20px;
    border-radius: 2vh;
}

/* INDEX PRINCIPAL======================================== */

.gancho {
    background-color: #ffffff;
    margin-top: 80px;
    padding: 16px;
}

.gancho p {
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}

#importante {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    font-weight: 800;
}

.input_nombre {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 20px #2a9d8f;
}

.boton_enviar {
    background-color: #2a9d8f;
    font-size: 26px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 2vh;
    box-shadow: 0px 0px 20px #000;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}

.boton_enviar:hover {
    transform: scale(1.1);
}

#wasup {
    display: flex;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #000;
    padding: 20px;
    margin: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 100px;
}

#wasup h3 {
    font-size: 24px;
    box-shadow: 0px 0px 20px #2a9d8f;
    padding: 20px;
    border-radius: 4vh
}

.whats {
    background-color: #00f014;
    padding: 20px;
    border-radius: 6vh;
    box-shadow: 0px 0px 20px #000;
    font-weight: 700;
    color: #fff;
    font-size: 30px;
    transition: 1s;
}

.whats:hover {
    transform: scale(1.1);
}

.ig {
    background: linear-gradient(45deg, #d10101, #0004ff);
    padding: 20px;
    border-radius: 6vh;
    box-shadow: 0px 0px 20px #000;
    font-weight: 700;
    color: #fff;
    font-size: 30px;
    transition: 1s;
}

.ig:hover {
    transform: scale(1.1);
}

#error {
    background-color: #d10101;
    padding: 20px;
    border-radius: 6vh;
    box-shadow: 0px 0px 20px #000;
    font-weight: 700;
    color: #fff;
    font-size: 30px;
}


.mini_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 90px 140px;
    gap: 40px;
}

.mini_nav a {
    background-color: #fff;
    padding: 20px;
    border-radius: 2vh;
    box-shadow: 0px 0px 20px #000;
    font-weight: 800;
    font-size: 30px;
    transition: .4s;
    text-align: center;
}

.mini_nav a:hover {
    transform: scale(1.2);
    margin: 0px 20px;
}

.descripcion {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 40px 80px 100px 0px;
    gap: 20px;
    padding: 20px;
    border: solid 2px #000;
    border-left: none;
    border-radius: 0vh 6vh 6vh 0vh;
    box-shadow: -10px 10px 30px #000;
}

.descripcion p {
    font-size: 22px;
    font-weight: 900;

}

/* ======================================  OPCIONES =============================== */
.opciones__right__nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


.opciones__idx {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}


.opcion__blanqueria a {
    border-radius: 30vh 2vh 10vh 0vh;
    width: 400px;
    height: 450px;
    background-color: #ef6f51;
    font-size: 40px;
    font-weight: 800;
    font-family: "Courgette";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border: solid 2px #fff;
}

.opcion__blanqueria a:hover {
    transform: scale(1.06);
    color: #fff;
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
}

.opcion__prod a {
    border-radius: 2vh 30vh 0vh 10vh;
    width: 400px;
    height: 450px;
    background-color: #2a9d8f;
    font-size: 40px;
    font-weight: 800;
    font-family: "Courgette";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border: solid 2px #fff;
}

.opcion__prod a:hover {
    transform: scale(1.06);
    color: #fff;
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
}







/* ===================================NAV DERECHO PRODUCTOS===================== */
.nav__derecho__productos {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 100px;
}

.nav__derecho__productos__div {
    background-color: #fff;
    padding: 100px 60px 100px 20px;
    border-radius: 2vh 0vh 0vh 2vh;
    margin: 20px 0px;

}


.nav__derecho__productos__blanqueria ul {
    padding: 16px;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 30px;
    margin-bottom: 80px;
    margin-top: 20px;
    align-items: center;
}

.nav__derecho__productos__blanqueria a {
    font-size: 20px;
    box-shadow: 5px 5px 10px #000;
    border-radius: 2vh;
    padding: 6px;
    color: #fff;
    background-color: #ef6f51;
}


.nav__derecho__productos__variado ul {
    padding: 16px;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 30px;
    margin-bottom: 80px;
    margin-top: 20px;
    align-items: center;
}

.nav__derecho__productos__variado a {
    font-size: 20px;
    box-shadow: 5px 5px 10px #000;
    border-radius: 2vh;
    padding: 6px;
    color: #fff;
    background-color: #2a9d8f;
}

/* =========================================BLANQUERIA MENÚ======================== */
.blanqueria__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 20px;
}

.blanqueria__menu ul {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.blanqueria__menu a {
    display: flex;
    background-color: #fff;
    padding: 40px;
    border-radius: 30vh 0vh 30vh 0vh;
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #000;
    gap: 30px;
    transition: .3s;
}

.blanqueria__menu a:hover {
    transform: scale(1.06);
    box-shadow: 0px 0px 20px #fff;
}

.blanqueria__menu h3 {
    font-size: 30px;
}

.variados__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 20px;
}


.variados__menu ul {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.variados__menu a {
    display: flex;
    background-color: #fff;
    padding: 40px;
    border-radius: 30vh;
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #000;
    gap: 30px;
    transition: .3s;

}

.variados__menu a:hover {
    transform: scale(1.06);
    box-shadow: 0px 0px 20px #0004ff;
}

.variados__menu h3 {
    font-size: 30px;
}

/* Productos  */


.h3_prod {
    text-align: center;
    border-radius: 2vh;
    border: solid 2px #a8dadc;
    margin: 40px 200px;
    color: #fff;
    font-size: 40px;
    box-shadow: 8px 8px 30px#000;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 90px;
}

.productos div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10%;
    border-radius: 6vh;
    box-shadow: 0px 0px 20px #000;
    transition: .3s;
    animation: entr linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.productos div:hover {
    transform: scale(1.08);
}

.productos p {
    font-size: 28px;
    font-family: "Courgette";
    text-align: center;
    margin: 0px 20px;
    margin-top: 40px;
}

.productos img {
    width: 230px;
    border-radius: 20px;
    box-shadow: 8px 8px 30px#000;
}


/* ======================================BLANQUERÍA===================================== */
#body__blanqueria {
    background-color: #ef6f51;
}

/* SABANAAAAASSSSS */

.h3_sabanas {
    text-align: center;
    border-radius: 2vh;
    border: solid 2px #fff;
    margin: 40px 200px;
    color: #fff;
    font-size: 40px;
    padding: 5px;
    box-shadow: 8px 8px 30px#000;
}

.productos_sabanas img {
    width: 330px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 8px 8px 30px#000;
}

/* ===================================ENVIOS============================= */

.info {
    margin: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: 40px;

}

#envio {
    background-color: #fff;
    padding: 20px;
    border-radius: 2vh;
    box-shadow: 0px 0px 20px #000;
    text-align: center;

}

.info p {
    font-family: "Courgette";
}

.info div {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 0px 20px #000;
    border-radius: 4vh;
    text-align: center;
}

.motos img {
    width: 300px;
    border-radius: 8vh;
    box-shadow: 0px 0px 20px #000;
    margin-top: 20px;
}

.somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.somos iframe {
    width: 300px;
    height: 200px;
}

/* ==================================FOOTER=============================== */

.foot {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #ffffff;
    padding: 20px;
    font-weight: 900;
    font-size: 18px;
}

.foot_dat1 {
    padding: 20px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 2px #000;
}

.foot_dat1 p {
    font-weight: 900;
}

#spv {
    color: #248377;
}



.foot_dat2 {
    display: flex;
    flex-direction: column;
}

.foot_ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot_dat2 a {
    justify-content: center;
    color: #7700b7;
    padding: 10px;
    transition: .6s;
    text-shadow: 0px 0px 20px #000;
}

.foot_dat2 a:hover {
    transform: scale(1.08);
}

.derechos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(360deg, #457B9D, #fff);
}

.derechos p {
    font-weight: 400;
    font-size: 20px;
    text-shadow: 0px 0px 20px #fff;
    text-align: center;
}

@media (max-width:700px) {
    #nav_ul {
        flex-direction: column;
        height: 50px;
        padding: 0px;
    }

    #nav_ul:hover {
        width: 110px;
        height: 400px;
        align-items: start;

    }

    h1 {
        font-size: 40px;
    }

    #importante {
        margin: 100px 40px;
        padding: 10px;
        border-radius: 2vh;
    }

    .input_nombre {
        font-size: 22px;
    }

    #wasup {
        flex-direction: column;
        margin: 100px 30px 100px 30px;
        height: auto;
        border-radius: 2vh;
    }

    .mini_nav {
        margin: 90px 80px;
    }

    /*PRODUCTOS*/
    .h3_prod {
        margin: 40px 40px;
    }

    .h3_sabanas {
        margin: 40px 40px;
    }

    .productos {
        gap: 30px;
    }

    .productos p {
        text-wrap: wrap;
        font-size: 13px;
        margin: 20px 0px 0px 0px;
    }

    .productos img {
        width: 110px;
    }

    .productos_sabanas img {
        height: 130px;
    }

    .info p {
        font-size: 30px;
    }

    .motos img {
        width: 250px;
    }

    .somos iframe {
        width: 240px;
    }

    .foot {
        gap: 20px;
        padding: 10px 40px;
        text-align: center;
        flex-direction: column;
        font-size: 13px;
    }

    .foot_dat1 {
        padding-right: 40px;
        border-right: none;
        border-bottom: solid 2px #000;
    }

    .derechos p {
        font-size: 12px;
    }

    .opciones__right__nav {
        gap: 0px;
    }

    .opciones__idx {
        gap: -70px;
        margin-left: 10px;
    }

    .opcion__blanqueria a {
        border-radius: 3vh;
        font-weight: 500;
        width: 100px;
        height: 150px;
        font-size: 20px;
    }

    .opcion__prod a {
        border-radius: 3vh;
        font-weight: 500;
        width: 100px;
        height: 150px;
        font-size: 20px;
    }

    .nav__derecho__productos {
        margin-left: 0px;
    }

    .nav__derecho__productos__div {
        padding: 100px 20px 100px 20px;
    }
}