* {
    text-decoration: none;
    list-style: none;
    color: #000;
    margin: 0px;
    padding: 0px;
    font-family: "Delius", cursive;

}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;

}


.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

@keyframes entr {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .1;
    }

    50% {
        opacity: .4;
    }

    75% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

body {
    background-color: #457B9D;
}

#body_productos {
    background-color: #2a9d8f;
}

#body_sabanas {
    background-color: #ef6f51;
}

header {
    display: flex;
}

#nav {
    display: flex;
}

#nav_ul {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 50px;
    background-color: #a8dadc;
    transition: 1s;
    border-radius: 2vh;
    position: fixed;
    z-index: 9999;
    margin: 10px;
    border: solid 2px #000;
    box-shadow: 0px 8px 20px#000;
    align-items: center;
    font-weight: 900;
    padding-left: 10px;
}


#nav_ul:hover {
    padding: 20px;
    display: flex;
    width: 630px;
    gap: 40px;
    border-radius: 0px 20px 20px 0px;
}

#nav_img {
    width: 40px;
}

.nav_li {
    background-color: #fff;
    display: flex;
    border-radius: 2vh;
    padding: 6px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #000;
    font-size: 24px;
    color: #000;
}



#li_1 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#li_2 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#li_3 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#li_4 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#titulo {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-bottom: 80px;
}

h1 {
    font-family: "Courgette";
    font-size: 80px;
    letter-spacing: 6px;
    text-align: center;
    padding: 20px;
    border-radius: 2vh;
}

.gancho {
    background-color: #ffffff;
    margin-top: 80px;
    padding: 16px;
}

.gancho p {
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}

.importante {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    font-weight: 800;
}

#whats {
    background-color: #00f014;
    padding: 10px;
    border-radius: 6vh;
    box-shadow: 0px 0px 20px #000;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
}

.mini_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 90px 140px;
    gap: 40px;
}

.mini_nav a {
    background-color: #fff;
    padding: 20px;
    border-radius: 2vh;
    box-shadow: 0px 0px 20px #000;
    font-weight: 800;
    font-size: 30px;
    transition: .4s;
    text-align: center;
}

.mini_nav a:hover {
    transform: scale(1.2);
    margin: 0px 20px;
}

.h3_prod {
    text-align: center;
    background-color: #ef6f51;
    border-radius: 2vh;
    border: solid 2px #a8dadc;
    margin: 40px 200px;
    color: #fff;
    font-size: 40px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 90px;
}

.productos div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10%;
    border-radius: 6vh;
    box-shadow: 0px 0px 20px #000;
    transition: .3s;
    animation: entr linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.productos div:hover {
    transform: scale(1.08);
}

.productos p {
    font-size: 28px;
    font-family: "Courgette";
    text-align: center;
    margin: 0px 20px;
    margin-top: 40px;
}

.productos img {
    width: 230px;
    border-radius: 20px;
    box-shadow: 8px 8px 30px#000;
}

.h3_sabanas {
    text-align: center;
    background-color: #2a9d8f;
    border-radius: 2vh;
    border: solid 2px #457B9D;
    margin: 40px 200px;
    color: #fff;
    font-size: 40px;
}

.productos_sabanas img {
    width: 330px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 8px 8px 30px#000;
}

.info {
    margin: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: 40px;

}

#envio {
    background-color: #fff;
    padding: 20px;
    border-radius: 2vh;
    box-shadow: 0px 0px 20px #000;
    text-align: center;

}

.info p {
    font-family: "Courgette";
}

.info div {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 0px 20px #000;
    border-radius: 4vh;
    text-align: center;
}

.motos img {
    width: 300px;
    border-radius: 8vh;
    box-shadow: 0px 0px 20px #000;
    margin-top: 20px;
}

.somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.somos iframe {
    width: 300px;
    height: 200px;
}

.foot {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #ffffff;
    padding: 20px;
    font-weight: 900;
    font-size: 18px;
}

.foot_dat1 {
    padding: 20px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: solid 2px #000;
}

.foot_dat2 {
    display: flex;
    flex-direction: column;
}

.foot_ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot_dat2 a {
    display: flex;
    justify-content: center;
    background-color: #7700b7;
    padding: 10px;
    border-radius: 3vh;
    margin: 20px;
    box-shadow: 4px 4px 10px #000;
    transition: .6s;
    color: #fff;
    text-shadow: 0px 0px 20px #000;
}

.foot_dat2 a:hover {
    transform: scale(1.08);
}

.foot_ul a {
    display: flex;
    justify-content: center;
    background-color: #a8dadc;
    padding: 10px;
    border-radius: 3vh;
    margin: 20px;
    box-shadow: 4px 4px 10px #000;
    transition: .6s;
}

.foot_ul a:hover {
    transform: scale(1.08);
}

@media (max-width:700px) {
    #nav_ul {
        flex-direction: column;
        height: 50px;
        padding: 0px;
    }

    #nav_ul:hover {
        width: 110px;
        height: 400px;
        align-items: start;

    }

    h1 {
        font-size: 40px;
    }

    .importante {
        height: 200px;
        margin: 40px;
        border-radius: 2vh;
    }

    .mini_nav {
        margin: 90px 80px;
    }

    /*PRODUCTOS*/
    .h3_prod {
        margin: 40px 40px;
    }

    .h3_sabanas {
        margin: 40px 40px;
    }

    .productos {
        gap: 30px;
    }

    .productos p {
        text-wrap: wrap;
        font-size: 13px;
        margin: 20px 0px 0px 0px;
    }

    .productos img {
        width: 110px;
    }

    .productos_sabanas img {
        height: 130px;
    }

    .info p {
        font-size: 30px;
    }

    .motos img {
        width: 250px;
    }

    .somos iframe {
        width: 240px;
    }

    .foot {
        gap: 20px;
        padding: 10px;
        text-align: center;
        flex-direction: column;
        font-size: 13px;
    }

    .foot_dat1 {
        padding-right: 40px;
        border-right: none;
        border-bottom: solid 2px #000;
    }
}