* {
    text-decoration: none;
    list-style: none;
    color: #000;
    margin: 0px;
    padding: 0px;
    font-family: "Delius", cursive;

}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;

}


.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

@keyframes entr {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .1;
    }

    50% {
        opacity: .4;
    }

    75% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

body {
    background-color: #3845fa;
}

#body_productos {
    background-color: #f0e053;
}

#body_sabanas {
    background-color: #e3735e;
}

header {
    display: flex;
}

#nav {
    display: flex;
}

#nav_ul {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 50px;
    background-color: #fca400;
    transition: 1s;
    border-radius: 6vh;
    position: fixed;
    z-index: 9999;
    margin: 10px;
    border: solid 2px #000;
    box-shadow: 0px 8px 20px#000;
    align-items: center;
    font-weight: 900;
}


#nav_ul:hover {
    padding: 20px;
    display: flex;
    width: 630px;
    gap: 40px;
    border-radius: 0px 20px 20px 0px;
}

#nav_img {
    width: 50px;
}

.nav_li {
    background-color: #fff;
    display: flex;
    border-radius: 2vh;
    padding: 6px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #000;
    font-size: 24px;
    color: #000;
}



#li_1 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#li_2 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#li_3 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#li_4 {
    border: solid 2px #000;
    box-shadow: 0px 0px 20px #fff;
    cursor: default;
}

#titulo {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-bottom: 80px;
    box-shadow: 0px 20px 30px #000;
}

h1 {
    font-family: "Delius";
    font-size: 680%;
    letter-spacing: 6px;
    text-align: center;
    color: #3845fa;
    padding: 20px;
    border-radius: 2vh;
}

.gancho {
    background-color: #ffffff;
    margin-top: 80px;
    padding: 16px;
}

.gancho p {
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 90px;
}

.productos div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10%;
    height: 600px;
    border-radius: 6vh;
    margin-bottom: 90px;
    box-shadow: 0px 0px 20px #000;
    transition: .3s;
    animation: entr linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.productos div:hover {
    transform: scale(1.08);
}

.productos p {
    font-size: 28px;
    font-family: "Courgette";
    text-align: center;
}

.productos img {
    width: 330px;
    border-radius: 20px;
    box-shadow: 8px 8px 30px#000;
}

/*SABANAAAAS*/

.productos_sabanas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 90px;
}

.productos_sabanas div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    gap: 10%;
    height: 500px;
    border-radius: 6vh;
    margin-top: 40px;
    transition: .3s;
    animation: entr linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

}

.productos_sabanas div:hover {
    transform: scale(1.08);
}

.productos_sabanas p {
    font-size: 28px;
    font-family: "Courgette";
    text-align: center;
}

.productos_sabanas img {
    width: 330px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 8px 8px 30px#000;
}

.info {
    margin: 40px;
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: center;
    font-size: 40px;

}

.info p {
    font-family: "Courgette";
}

.info div {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 0px 20px #000;
    border-radius: 4vh;
    text-align: center;
}

.somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media (max-width:700px) {
    #nav_ul {
        flex-direction: column;
        height: 50px;
    }

    #nav_ul:hover {
        width: 110px;
        height: 400px;
        align-items: start;

    }
}